
body {
    font-family: 'Roboto', sans-serif;
}

/* header */
#header {
    width: 100%;
    height: 5rem;
    padding: 0 1.375rem;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;
}

#header img {
    width: 4.6875rem;
    height: 3.3125rem;
}

#header ion-icon {
    font-size: 2rem;
}

/* conteudo */

#content {
    width: 100vw;
    height: 100%;

    background: #F3F3F3;
    background-size: cover;
    padding: 5.75rem 0;
}

#content .message {
    margin-top: 0.25rem;
    border-radius: 0.125rem; 
    padding: 0.5rem;
}

#content .message-status {
    background: #DCDCDC;
}

#content .message-everyone {
    background: white;
}

#content .message-private {
    background: #FFDEDE;
}

#content p {
    word-break: break-all;
    text-align: justify;

    font-size: 0.875rem;
    line-height: 1.5rem;
    color: black
}

#content p span {
    font-weight: 400;
    color: #AAAAAA;
}

#content p strong {
    font-weight: 700;
}

/* footer */
#footer {
    width: 100%;
    height: 5rem;
    padding: 0 1.375rem;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: 1;
}

#footer .field-message {
    width: 85%;
    height: 1.875rem;
    border: none;
}

#footer input::placeholder {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    color: black;
}
#footer ion-icon {
    font-size: 1.8rem;
}

/* nav */
#nav .background-nav {
    width: 100vw;
    height: 100%;

    display: flex;
    justify-content: end;

    position: fixed;
    top:0;
    z-index: 2;
}

#nav .background-nav .nav-click {
    height: 100%;
    width: 20%;
    background: rgba(0, 0, 0, 0.6);
}

#nav .background-nav .nav {
    width: 80%;
    height: 100%;

    background: #FFFFFF;
}

#nav .background-nav .participants {
    height: 100%;

    display: block;
    flex-direction: column;
}

.nav .span {
    margin: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav div {
    height: 2.25rem;
    font-size: 1rem;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.nav ion-icon {
    margin: 0 0.65rem 0 1.5rem;
    font-size: 1.25rem;
}

.nav .span span {
    font-weight: 700;
    font-size: 1rem;
}

#nav.hidden {
    visibility: hidden;
}